.App {
  text-align: center;
margin: auto;
top:0;
bottom:0;
left:0;
right:0;
position:absolute;
}
html { overflow-y: hidden; }
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.b0 {
	height:30px;
	width:30px;
	background-color: #888888;
	border-style:outset;
	border-width:1px;
}
.b1 {
	height:30px;
	width:30px;
	  background-color: #ff0000;
	  border-style:outset;
	  border-width:1px;
}
.b2 {
	height:30px;
	width:30px;
	  background-color: #000000;
	  border-style:outset;
	  border-width:1px;
	  border-radius: 5px;
}
.b3 {
height:30px;
width:30px;
	  background-color: #ffffff;
	  border-style:groove;
	  border-width:1px;
}
.ones {
width:150px;
height:150px;
}
.header {
width:1000px;
height:100px;
}
.yeobaek {
float:left;
width:200px;
height:500px;
}
.yeobaek2 {
float:left;
width:500px;
height:500px;
}
.yeobaek3 {
float:left;
width:200px;
height:500px;
}
.playerBoard {
float:left;

}
.state-blue {
	background-color:#0000ff;
}
.state-skyblue {
	background-color:#0088ff;
}
.state-yellow {
	background-color:#ffff00;
}
.state-orange {
	background-color:#ff8800;
}
.state-purple {
	background-color:#8800ff;
}
.state-green {
	background-color:#00ff00;
}
.state-red {
	background-color:#ff0000;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
